.country_details_container{
    padding: 0 1.5rem;
    margin: 0 auto;
}

.country_details_info_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.country_details_anchor{
    margin: 4rem 0;
    height: 2rem;
    width: 5.5rem;
    background-color: var(--color-card);
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 8px;
}

span{
    font-weight: 700;
}

.country_details_img{
    max-width: 20rem;
    border-radius: 5px;
}

.country_details_info_primary, .country_details_info_secondary{
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 2rem;

}

.country_details_title{
    font-size: clamp(2rem, 2vw 4rem);
    font-weight: 700;
    margin-bottom: 1rem;
}

.country_details_border_div{
    margin-top: 3rem;
    min-width: 20rem;
}

.country_details_border_title{
    font-size: 1.3rem
}

.country_details_border_list{
    list-style: none;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.country_details_border_item{
    padding: 0.2rem 1.5rem;
    font-size: clamp(0.9rem, 1vw, 1rem);
    background-color: var(--color-card);
    gap: 0.5rem;
}

@media (min-width: 768px) {

    .country_details_info_div{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 1rem;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 3rem 2rem;
    }
    
    .country_details_img{
        width: 100%;
        max-width: none;
        height: auto;
        display: block;
        border-radius: 5px;
        grid-column: 1/-1;
        grid-row: 1;
        margin-bottom: 3rem;
    }

    .country_details_info_primary,
    .country_details_info_secondary{
        min-width: 0;
    }

    .country_details_info_primary{
        grid-column: 1/5;
        grid-row: 2;
    }

    .country_details_info_secondary{
        grid-column: 6/-1;
        grid-row: 2;
    }

    p{
        margin-bottom: 0.5rem;
    }

    .country_details_border_div{
        display: flex;
        align-items: center;
        justify-content: start;
        grid-column: 1/-1;
        grid-row: 3;
        margin-top: 2rem;
    }

    .country_details_border_list{
        margin: 0;
        width: 70%;
    }

    .country_details_border_item{
        gap: 0;
        padding: 0.5rem 2rem;
    }
}