.country_card{
    margin-top: 5rem;
    max-width: 16.5rem;
    background-color: var(--color-card);
    color: var(--color-card-text);
}

a{
    text-decoration: none;
    color: var(--color-card-text)
}

.country_card_image{
    width: 16.5rem;
    height: 10rem;
}

.country_card_info_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 1.5rem 3rem 1.5rem;
}

.country_card_title{
    font-size: 1.2rem;
    margin: 1rem 0;
}

.country_card_population, .country_card_region, .country_card_capital{
    margin: 0.3rem 0;
    font-size:0.9rem;
}

.country_card_population_span, .country_card_region_span, .country_card_capital_span{
    font-weight: 700;
    font-size:0.9rem;
}

@media (min-width: 764px){
    .country_card{
        margin-top: 0;
    }
}