header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo{
    font-weight: 700;
}

.themes_div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5rem;
    cursor: pointer;
}

.themes_img{
    height: 1rem;
    width: 1rem;
}
