.countries_div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 764px){
    .countries_div{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 16.5rem);
        gap: 5rem;
    }

        .search_div{
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1200px){
    .countries_div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}